# Ignorar o ChromeDriver
chromedriver.exe

# Ignorar ambientes virtuais
venv/
.env/
.env.*

# Ignorar arquivos temporários e cache
__pycache__/
*.py[cod]
*.log
*.tmp

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos gerados pelo Visual Studio Code
.vscode/

# Ignorar diretórios de saída
dist/
build/
